body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    background-image: url(bg1.jpg);
}

header {
	background-color: #333;
	color: #fff;
}

.bottom-left {
  position: absolute;
  bottom: 90px;
  left: 200px;
  font-weight: bold;
  color: #333; 
}

.bottom-left2 {
  position: absolute;
  bottom: -460px;
  left: 200px;
  font-weight: bold;
  color: #333; 
}

.cropped{
    width: 945px;
    height: 400px;
    overflow: hidden;
    border-radius: 50px;
    border: 5px solid;
}

.cropped2 img{
    width: 945px;
    height: 400px;
    overflow: hidden;
    border-radius: 50px;
    border: 5px solid;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li a {
	color: #fff;
	padding: 1em;
	text-decoration: none;
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 100%;
	background-color: #f9f9f9;
	min-width: 200px;
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
	color: #000;
	display: block;
	padding: 10px 0;
	text-decoration: none;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

main {
	margin: 2em auto;
	max-width: 80%;
}

h2 {
	font-size: 2em;
	margin: 1em 0;
}

#featured-events {
	background-color: #333;
	padding: 1em;
    border-radius: 50px;
    text-align: center;
    color: white;
    border: 1px solid;
}

#upcoming-events {
	background-color: #333;
	padding: 1em;
    border-radius: 50px;
    text-align: center;
    color: white;
    border: 1px solid;
}

#event-categories {
	background-color: #333;
	padding: 1em;
    border-radius: 50px;
    color: white;
    border: 1px solid;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 1em;
	text-align: center;
}